 .chefs h2 {
    margin-top: 120px;
    text-align: center;
 }

  .chefs img {
    margin-top: 120px;
  }

  .chefs-grid {
    display: flex;
    flex-direction: column;
    gap:80px
  }

  .chef {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  .chef-invertido {
    flex-direction: row-reverse;
  }
