.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu {
display: flex;
align-items: center;
gap: 42px;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.introducao-main h1 {
    margin-bottom: 18px;
}

.introducao-main p {
    margin-bottom: 48px;
    max-width: 430px;
}

.img-sushi {
    display: flex;
    justify-content: end;
    padding-top: 80px;
}

