.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.sobre-imagem img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.sobre-texto span {
  display: block;
  margin-bottom: 8px;
}
.sobre-texto p {
  padding-top: 32px; 
}

@media (max-width: 800px) {
  .sobre {
    gap: 32px;
  }
  .sobre-texto span {
    font-size: 1rem;
  }

  .sobre-texto h2 {
    font-size: 2rem;
  }

  .sobre-texto p {
    font-size: 1rem;
    padding-top: 24px;
  }
}

@media (max-width: 600px) {
  .sobre {
    grid-template-columns: 1fr;
    gap: 24px;
   text-align: center;
  }
  .sobre-texto {
    order: 1;
  }

  .sobre-imagem {
    order: 2;
  }

  .sobre-imagem img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
}

@media (max-width: 400px)  {
 .sobre-texto p {
    padding-top: 24px;
  }
}
